/*Mixin Valigner*/
body {
  background-color: #f2f2f2;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

body a {
  text-decoration: none;
}

body a:hover {
  text-decoration: none !important;
}

.no-padd {
  padding: 0 !important;
}

.no-padd-left {
  padding-left: 0 !important;
}

header {
  background-color: #f2f2f2;
  background-position: center;
  background-image: url("../img/playstation-pattern.png");
  width: 100%;
  height: 100vh;
  padding: 2vw;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-font-smoothing: antialiased;
}

header .right-container {
  width: 45%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

header .right-container h1 {
  text-align: left;
  color: #333;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 8.5rem;
  width: 95%;
  margin-top: 0;
  -webkit-font-smoothing: antialiased;
}

header .right-container h2 {
  text-align: left;
  color: #333;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  width: 80%;
  margin-top: 0;
  -webkit-font-smoothing: antialiased;
}

header .right-container .button-container {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

header .right-container .button-container .button-1 {
  width: 100%;
  max-width: 210px;
  height: 45px;
  background-color: #333;
  color: white;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  border-radius: 300px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  transition: all ease-in-out 300ms;
}

header .right-container .button-container .button-1:hover {
  background-color: green;
  text-decoration: none !important;
}

header .right-container ul.social-list {
  width: 100%;
  height: 50px;
  margin-left: 0px;
  padding-left: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

header .right-container ul.social-list li {
  margin-right: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

header .right-container ul.social-list li i {
  color: #333;
  font-size: 2.5rem;
  transition: all ease-in-out 300ms;
  -webkit-font-smoothing: antialiased;
}

header .right-container ul.social-list li i:hover {
  color: green;
}

section.about {
  background-color: white;
  background-image: url("../img/pattern2.png");
  background-position: center;
  width: 100%;
  height: 100%;
  padding: 2vw;
  position: relative;
  display: block;
}

section.about .section-content {
  width: 100%;
  max-width: 1180px;
  margin: 2vw auto;
  position: relative;
  display: block;
}

section.about h1.title-section {
  text-align: left;
  color: #333;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  margin-top: 70px;
  margin-bottom: 50px;
  -webkit-font-smoothing: antialiased;
}

section.about p {
  font-family: "Open Sans", sans-serif;
  color: #707070;
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem;
  text-align: left;
  font-weight: 400;
  margin-bottom: 20px;
}

section.about ul.hobbies-list {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 0 !important;
  padding-left: 0 !important;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  list-style: none !important;
  list-style: none !important;
}

section.about ul.hobbies-list li {
  margin-right: 50px;
}

section.about ul.hobbies-list li img.hobbies-icon {
  width: 100%;
  height: 100%;
  max-width: 60px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

section.about .progress-bar-behind {
  height: 6px;
  width: 100%;
  background-color: #d2d1d1;
  display: block;
}

section.about .progress-bar-front {
  height: 6px;
  background-color: green;
  display: block;
  margin-top: -6px;
}

section.about p.progress-bar-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  margin-top: 10px;
}

section.portfolio {
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

section.portfolio .grid-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

section.portfolio .grid-container .project-container {
  width: 25%;
  height: 50vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #707070;
  transition: all ease-in-out 300ms;
}

section.portfolio .grid-container .project-container:hover .project-info {
  opacity: 1;
}

section.portfolio .grid-container .project-container:hover .project-info h3.project-title {
  opacity: 1;
}

section.portfolio .grid-container .project-container:hover .project-info h4.project-client {
  opacity: 1;
}

section.portfolio .grid-container .project-container .project-info {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 128, 0, 0.9);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  opacity: 0;
  transition: all ease-in-out 300ms;
}

section.portfolio .grid-container .project-container .project-info h3.project-title {
  font-family: "Open Sans", sans-serif;
  color: #FFF;
  font-size: 2.2rem;
  text-align: center;
  font-weight: 300;
  margin-bottom: 20px;
  opacity: 0;
  transition: all ease-in-out 400ms;
}

section.portfolio .grid-container .project-container .project-info h4.project-client {
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 600;
  opacity: 0;
  transition: all ease-in-out 400ms;
  padding: 10px;
  border: solid 2px #FFF;
  border-top: none;
  border-bottom: none;
}

section.contact {
  background-color: #f2f2f2;
  background-image: url("../img/pattern2.png");
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  padding: 2vw;
}

section.contact .section-content {
  width: 100%;
  max-width: 1180px;
  margin: 2vw auto;
  position: relative;
  display: block;
}

section.contact h1.title-section {
  text-align: center;
  color: #333;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  margin-top: 70px;
  margin-bottom: 30px;
  -webkit-font-smoothing: antialiased;
}

section.contact .input-contact {
  padding: 15px;
  height: 40px;
  width: 100%;
  max-width: 40vw;
  margin: 1vw auto;
  border: none !important;
  background-color: #FFF;
  border-radius: 0 !important;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  box-shadow: 0px 2px 6px 0px lightgrey;
  transition: all ease-in-out 300ms;
}

section.contact .input-contact:focus {
  outline: none !important;
  box-shadow: 0px 4px 8px 0px lightgrey;
  font-weight: 400;
}

section.contact .input-contact::placeholder {
  color: darkgrey;
  font-size: 1.7rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

section.contact .textarea-contact {
  padding: 15px;
  width: 100%;
  max-width: 40vw;
  margin: 1vw auto;
  border: none !important;
  background-color: #FFF;
  border-radius: 0 !important;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  box-shadow: 0px 2px 6px 0px lightgrey;
  transition: all ease-in-out 300ms;
}

section.contact .textarea-contact:focus {
  box-shadow: 0px 4px 8px 0px lightgrey;
  outline: none !important;
}

section.contact .textarea-contact::placeholder {
  color: darkgrey;
  font-size: 1.7rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

section.contact .button-container {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

section.contact .button-container .button-1 {
  width: 100%;
  max-width: 210px;
  height: 45px;
  background-color: #333;
  color: white;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  border-radius: 300px;
  text-transform: uppercase;
  margin: 10px auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  transition: all ease-in-out 300ms;
}

section.contact .button-container .button-1:hover {
  background-color: green;
  text-decoration: none !important;
}

section.contact .contact-text {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  color: #333;
  text-align: center;
  font-weight: 400;
  margin: 20px auto;
}

footer {
  width: 100%;
  height: 80px;
  padding: 1vw;
  position: relative;
  display: block;
  background-color: #333;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

footer p.footer-copyright {
  font-size: 2rem;
  width: 50%;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #FFF;
  text-align: left;
  margin-bottom: 0 !important;
}

footer ul.social-list {
  width: 50%;
  margin-bottom: 0 !important;
  height: 50px;
  margin-left: 0px;
  padding-left: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

footer ul.social-list li {
  margin-right: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

footer ul.social-list li:last-of-type {
  margin-right: 0px !important;
}

footer ul.social-list li i {
  color: #FFF;
  font-size: 2.2rem;
  transition: all ease-in-out 300ms;
  -webkit-font-smoothing: antialiased;
}

footer ul.social-list li i:hover {
  color: #FFF;
}

@media screen and (max-width: 992px) {
  header {
    padding: 5vw !important;
  }
  header .right-container {
    width: 100% !important;
    justify-content: center !important;
  }
  header .right-container h1 {
    text-align: center !important;
    font-size: 9rem !important;
    width: 100% !important;
    margin-bottom: 3vw !important;
  }
  header .right-container h2 {
    text-align: center !important;
    width: 100% !important;
    margin-bottom: 3vw !important;
    font-size: 4rem !important;
  }
  header .right-container .button-container {
    justify-content: center !important;
  }
  header .right-container .button-container .button-1 {
    height: 50px !important;
    font-size: 1.8rem !important;
    max-width: 250px !important;
  }
  header .right-container ul.social-list {
    justify-content: center !important;
  }
  header .right-container ul.social-list li {
    margin-right: 20px !important;
  }
  header .right-container ul.social-list li i {
    font-size: 3rem !important;
  }
  section.about {
    padding: 5vw !important;
  }
  section.about h1.title-section {
    margin-top: 50px !important;
    font-size: 6rem !important;
    text-align: center !important;
  }
  section.about p {
    margin-bottom: 20px !important;
  }
  section.about ul.hobbies-list {
    justify-content: center !important;
    width: 100% !important;
  }
  section.about ul.hobbies-list li {
    width: 50% !important;
    margin: 10px auto !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
  }
  section.portfolio {
    height: 100% !important;
  }
  section.portfolio .grid-container .project-container {
    width: 50% !important;
    height: 40vh !important;
  }
  section.contact {
    padding: 5vw !important;
    height: 100% !important;
  }
  section.contact h1.title-section {
    margin-top: 50px !important;
    font-size: 6rem !important;
    text-align: center !important;
  }
  section.contact .input-contact {
    max-width: 100vw !important;
  }
  section.contact .textarea-contact {
    max-width: 100vw !important;
  }
  footer {
    flex-direction: column !important;
    height: 100% !important;
    padding: 3vw;
  }
  footer p.footer-copyright {
    width: 100% !important;
    text-align: center !important;
  }
  footer ul.social-list {
    width: 100% !important;
    justify-content: center !important;
  }
}

@media screen and (max-width: 442px) {
  header {
    padding: 5vw !important;
  }
  header .right-container {
    width: 100% !important;
    justify-content: center !important;
  }
  header .right-container h1 {
    text-align: center !important;
    font-size: 5rem !important;
    width: 100% !important;
    margin-bottom: 3vw !important;
  }
  header .right-container h2 {
    text-align: center !important;
    width: 100% !important;
    margin-bottom: 3vw !important;
    font-size: 2rem !important;
  }
  header .right-container .button-container {
    justify-content: center !important;
  }
  header .right-container ul.social-list {
    justify-content: center !important;
  }
  header .right-container ul.social-list li {
    margin-right: 20px !important;
  }
  section.about {
    padding: 5vw !important;
  }
  section.about h1.title-section {
    margin-top: 50px !important;
    font-size: 4rem !important;
    text-align: center !important;
  }
  section.about p {
    margin-bottom: 20px !important;
  }
  section.about ul.hobbies-list {
    justify-content: center !important;
    width: 100% !important;
  }
  section.about ul.hobbies-list li {
    width: 50% !important;
    margin: 10px auto !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
  }
  section.portfolio {
    height: 100% !important;
  }
  section.portfolio .grid-container .project-container {
    width: 100% !important;
  }
  section.contact {
    padding: 5vw !important;
  }
  section.contact h1.title-section {
    margin-top: 50px !important;
    font-size: 4rem !important;
    text-align: center !important;
  }
  section.contact .input-contact {
    max-width: 100vw !important;
  }
  section.contact .textarea-contact {
    max-width: 100vw !important;
  }
  section.contact p.contact-text {
    font-size: 1.6rem !important;
  }
  footer {
    flex-direction: column !important;
    height: 100% !important;
    padding: 3vw;
  }
  footer p.footer-copyright {
    width: 100% !important;
    text-align: center !important;
  }
  footer ul.social-list {
    width: 100% !important;
    justify-content: center !important;
  }
}

.modal-image-width-julio {
  width: 100%;
  display: block;
}
